fedora-rawhide/images/latest.raw
fedora-rawhide/images/latest.raw.xz
fedora-rawhide/images/.prepared
fedora-rawhide/images/dl.fedoraproject.org/**

raspbian-lite/images/latest.raw
raspbian-lite/images/latest.raw.xz
raspbian-lite/images/.prepared
raspbian-lite/images/downloads.raspberrypi.org/**
